@page "/create"

<h2>Create</h2>

<EditForm autocomplete="off" Model="@_createGameModel" OnValidSubmit="HandleValidSubmit">
    <div class="alert @StatusClass">@StatusMessage</div>
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="content px-2">
        <InputText class="form-inline" id="gname" placeholder="Name" @bind-Value="_createGameModel.Name" />
    </div>
    <div class="content px-2">
        <InputText class="form-inline" id="gpass" placeholder="Password" @bind-Value="@_createGameModel.Password" />
    </div>
    <div class="content px-2">
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</EditForm>


