@page "/gameroom/{Guid:guid}"
@using Models
@using CLUZWeb.Services
@inject NavigationManager NavigationManager
@inject GamePoolService _gamePool
@inject AuthenticationStateProvider _auth

<h3>GameRoom</h3>

@if (players.Count() == 0)
{
    <p><em>Nothing to display...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in players)
            {
                <tr>
                    <td>@player.Name</td>
                    <td>@player.State</td>
                </tr>
            }
        </tbody>
    </table>
    @if (g.AdminIdentity == _auth.GetAuthenticationStateAsync().Result.User.Identity)
    {
        <div class="alert @StatusClass">@StatusMessage</div>
        <button class="btn btn-primary" @onclick="s => Start()">
            Start
        </button>
    }

    <button class="btn btn-primary float-right" @onclick="s => Leave()">
        Leave
    </button>
}
