@page "/"
@inherits Base

@*<div style="position: absolute; top: 0; right: 0;">
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="mr-auto">Toast</strong>
            <small>10 mins ago</small>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="mr-auto">Toast</strong>
            <small>11 mins ago</small>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>*@

<p class="text-muted">List of games and details</p>

@if (games.Count() == 0)
{
    <p><em>Nothing to display...</em></p>
}
else
{
    <ul class="list-group">
        @foreach (var game in games)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <h5>@game.Name</h5>
                    <p>
                        <span class="badge badge-pill badge-primary">@game.Status</span>
                        <span class="badge badge-primary badge-pill">@game.Players.Count()</span>
                    </p>
                </div>
                <div>
                    <button type="button" class="btn btn-info" @onclick="() => Join(game)">Join</button>
                </div>
            </li>
        }
    </ul>
}
<div class="p-4">
    <button class="btn btn-primary" @onclick="Create">
        Create New
    </button>
</div>

