@page "/"

<h1>Active games</h1>

<p>List of games and details</p>

@if (games.Count() == 0)
{
    <p><em>Nothing to display...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in games)
            {
                <tr>
                    <td>@game.Name</td>
                    <td>@game.Status</td>
                    <td>
                        <button class="btn btn-primary" @onclick="j => Join(game)">
                            Join
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<br />
<button class="btn btn-primary" @onclick="Create">
    Create New
</button>

