@page "/join/{Guid:guid}"
@inherits Base

<h2>Join</h2>

<EditForm autocomplete="off" Model="@_joinGameModel" OnValidSubmit="HandleValidSubmit">

    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col-lg-4">
            <div class="content px-2">
                <InputText class="form-control" placeholder="Password" @bind-Value="@_joinGameModel.Password" />
                <small class="form-text text-muted">Game pin</small>
            </div>
            <div class="content p-4">
                <button class="btn btn-primary" type="submit">Join</button>
            </div>
        </div>
    </div>
</EditForm>
