@page "/winner/{Input}"
@inherits Base

<div class="p-4 text-center">
    <h3>@Input won!</h3>
</div>

@code{
    [Parameter]
    public string Input { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        await Task.Delay(10000);
        NavigationManager.NavigateTo("/");
    }

}
