@inherits LayoutComponentBase

<BlazoredModal HideCloseButton="true" DisableBackgroundCancel="true" />

<div class="sidebar">
    <NavMenu />
</div>

<AuthorizeView>
    <Authorized>
        <div class="container pt-5">
            @Body
        </div>
        @*<a href="/feedback" class="text-muted text-center fixed-bottom m-3">Feedback</a>*@
    </Authorized>
    <NotAuthorized>
        <div class="container pt-5">
            <h4>Welcome</h4>
            <p class="text-muted">To start <a href="Identity/Account/Login">Log in</a></p>
        </div>
    </NotAuthorized>
</AuthorizeView>