@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
        @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
    </div>
    <AuthorizeView>
        <Authorized>
            <div class="content px-4">
                @Body
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="content px-4">
                <h3>Welcome to Cluz Web</h3><br />
                <h5>To display/create/add games please <a href="Identity/Account/Login">Log in</a></h5>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>
