@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<AuthorizeView>
    <Authorized>
        <div class="container pt-5">
            @Body
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="container pt-5">
            <h3>Welcome to Cluz</h3>
            <p class="lead">To start <a href="Identity/Account/Login">Log in</a></p>
        </div>
    </NotAuthorized>
</AuthorizeView>