@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@
<div class="main">
    @*<div class="top-row px-4 auth">*@
    @*<LoginDisplay />*@
    @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
    @*</div>*@
    <div class="navbar navbar-expand-lg static-top navbar-dark bg-primary">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/" class="navbar-brand">Cluz</a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <LoginDisplay />
            </div>
        </div>
    </div>
    <AuthorizeView>
        <Authorized>
            <div class="container pt-5">
                @Body
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="container pt-5">
                <h3>Welcome to Cluz</h3>
                <p class="lead">To start <a href="Identity/Account/Login">Log in</a></p>
            </div>
</NotAuthorized>
    </AuthorizeView>
</div>