<div class="navbar navbar-expand-lg static-top navbar-dark bg-primary">
    <div class="container">
        <button class="navbar-toggler" @onclick="ToggleNavMenu" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/" class="navbar-brand">Cluz</a>
        <div class="@NavMenuCssClass navbar-collapse" @onclick="ToggleNavMenu" id="navbarResponsive">
            <LoginDisplay />
        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
